#new_ecm_contact_request abbr {
  border-bottom: 0px;
}

#new_ecm_contact_request #ecm_contact_request_submit span.glyphicon {
  margin-right: 5px;
}

#new_ecm_contact_request .boolean span.error {
  margin-left: -20px;
}

#new_ecm_contact_request label {
  font-weight: normal;
}

#new_ecm_contact_request span.error {
  color: red;
}
